@mixin flex( $dir , $wrap , $just , $align ){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}


@mixin neo( $estado ,$br , $dis1 ){
	color			: var(--negro);
	transition		: all .4s ease;
	border-radius 	: $br ;
	
	@if $estado == 1 {
		background-color	: var(--blanco);
		box-shadow			: 
			$dis1    $dis1    $dis1*2 var(--sombra-ppal),
			$dis1*-1 $dis1*-1 $dis1*2 var(--sombra-sec),
			inset 0 0 0 transparent,
			inset 0 0 0 transparent;
	}@else if $estado == 2 {
		background-color	: var(--blanco);
		box-shadow			: 
			0 0 0 transparent,
			0 0 0 transparent,
			inset $dis1    $dis1    $dis1*2 var(--sombra-ppal),
			inset $dis1*-1 $dis1*-1 $dis1*2 var(--sombra-sec);
	}
    
}

@mixin media(){
    @media screen and (max-width:687px){
        @content
    };
}